$bg-color-alpha: #fff;
$bg-color-beta: #f2f7ff;
$bg-color-gamma: #377dff;
$bg-color-delta:#1e1e1e;
$bg-color-epsilon: #00000026;

$text-color-alpha: #fff;
$text-color-beta: #6cdac1;
$text-color-gamma: #ff796d;
$text-color-eta: #8e989f;
$text-color-epsilon: #377dff;
$text-color-zeta: #495057;
$text-color-delta: #1e1e1e;
$text-color-theta: #000;
$text-color-iota: #000000e6;

$border-color-alpha: #fff;
$border-color-beta: #eff1fe;
$border-color-gamma: #377dff;
$border-color-delta: #1e1e1e;
$border-color-epsilon: #00000008;
$border-color-zeta: #0000000d;
$border-color-eta: #00000014;